*{
	margin: 0;
	padding: 0;
}
.main-container{
	min-width: 1200px;
}
.navigation{
	height: 70px;
}
.header-logo{
	margin: 10px 0 0 20px;
}
.nav-newworld{
	font-size: 20px;
	font-weight: bold;
}
.nav-itemright{
	float: right;
	line-height: 70px;
	margin-right: 30px;
}
.nav-itemright a{
	text-decoration: none;
	padding: 5px;
}
.nav-itemright a:link{
	color: gray;
}
.nav-itemright a:hover{
	color:red;
	border-bottom: 3px solid red;
}
.navigation .nav-itemright .homepage{
	color: red;
	border-bottom: 3px solid red;
}
.navigation .nav-itemright .login{
	color: red;
}
.start{
	background-image: url(../images/task7/slogan-bg.png);
	height: 690px;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 200px 0 0 120px;
}
.new-life{
	color: white;
	font-weight: bolder;
	font-size: 55px;
}
.new-times{
	color: white;
	font-size: 28px;
	margin-top: 20px;
}
.enjoy{
	background: #e74f4d;
	color: white;
	font-weight: bold;
	font-size: 40px;
	margin-top: 30px;
	padding: 10px;
	border: none;
	width: 220px;
	height: 80px;
}
.features{
	height: 200px;
}
.clo-3{
	width: 25%;
	display: block;
	float: left;
	height: 200px;
}
.feature-item1{
	background-image: url(../images/task7/advancement-1.png);
	background-repeat: no-repeat;
	background-position: center 50px;
}
.feature-caption{
	color: gray;
	font-size: 16px;
	display: block;
	margin: 115px auto 0;
	width: 200px;
}
.feature-item2{
	/* background-image: url(../images/task7/advancement-2.png);
	background-repeat: no-repeat;
	background-position: center 50px; */
	background: url(../images/task7/advancement-2.png) center 50px no-repeat;
}
.feature-item3{
	background-image: url(../images/task7/advancement-3.png);
	background-repeat: no-repeat;
	background-position: center 50px;
}
.feature-item4{
	background-image: url(../images/task7/advancement-4.png);
	background-repeat: no-repeat;
	background-position: center 50px;
}
.about{
	height: 300px;
	background: rgb(237, 237, 237)
}
.question-logo{
	display: block;
	margin: 0 auto;
	padding-top: 40px;
}
.question-caption{
	color: gray;
	font-size: 30px;
	display: block;
	text-align: center;
	padding-top: 70px;
}
.city{
	height: 380px;
	width: auto;
	background: url(../images/task7/search-bg.jpg) no-repeat;
	background-size: cover;
}
.information{
	font-size: 25px;
	color: white;
	text-align: center;
	padding-top: 70px;
}
.activity-information{
	font-size: 18px;
	color: white;
	text-align: center;
	padding-top: 20px;
}
.form{
	text-align: center;
	padding-top: 35px;
}
.select{
	width: 240px;
	height: 36px;
	margin-right: 25px;
	color: darkgray;
	-webkit-appearance: none;
	background: #fff url(../images/task7/select-bg.png) no-repeat scroll right 10px center;
	padding-left: 20px;
}
.search-button{
	width: 240px;
	height: 36px;
	background: #e74f4d;
	border: none;
}
.show{
	padding: 100px;
	background-color: rgb(247, 247, 247);
	font-size: 0;
}
.picture-container{
	width: 25%;
	height: 419px;
	display: inline-block;
}
.picture{
	display: block;
	margin: 0 auto;
}
.show-caption{
	text-align: center;
	padding-top: 20px;
	font-size: 14px;
}
.new-world{
	height: 500px;
}
.world-left{
	background: url(../images/task7/model1.png) no-repeat;
	background-size: cover;
	height: 500px;
	width: 60%;
	float: left;
}
.world-center{
	color:white;
	text-align: center;
}
.world-title{
	font-size: 30px;
	padding-top: 150px;
}
.time{
	font-size: 25px;
	padding-top: 20px;
}
.world-beijing{
	font-size: 20px;
	padding-top: 20px;
}
.date{
	font-size: 18px;
	padding-top: 20px;
}
.world-right{
	height: 500px;
	width: 40%;
	float: left;
}
.right-newworld{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 150px;
}
.right-01{
	color: red;
}
.right-p{
	display: block;
	font-size: 18px;
	color: gray;
	margin: 30px 60px;
}
.more-information{
	border: 1px solid rgb(232, 80, 80);
	height: 40px;
	width: 180px;
	color: rgb(232, 80, 80);
	margin: 0 auto;
	display: block;
}
.button-list{
	text-align: center;
	margin-top: 40px;
}
.radio{
	margin-right: 7px;
}
.us{
	height: 500px;
}
.us-left{
	height: 500px;
	width: 33.33%;
	background:  rgb(232, 80, 79);
	float: left;
}
.lovelife-left{
	color: white;
	text-align: center;
	padding-top: 170px;
}
.nothing-left{
	color: white;
	margin-top: 30px;
	font-weight: bolder;
	text-align: center;
}
.search-more-left{
	height: 40px;
	width: 160px;
	border: 2px solid white;
	color: white;
	background: rgb(232, 80, 79);
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}
.us-middle{
	height: 500px;
	width: 33.33%;
	background: white;
	float: left;
}
.lovelife-middle{
	color: black;
	text-align: center;
	padding-top: 170px;
}
.nothing-middle{
	color: black;
	margin-top: 30px;
	font-weight: bolder;
	text-align: center;
}
.search-more-middle{
	height: 40px;
	width: 160px;
	border: 2px solid rgb(232, 80, 79);
	color:rgb(232, 80, 79);
	background: white;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}
.us-right{
	float: left;
	background: url(../images/task7/model2.png) no-repeat;
	height: 500px;
	width: 33.33%;
}
.volunteer-title{
	text-align: center;
	margin-top: 50px;
	color: rgb(104, 104, 104);
}
.volunteer-information{
	text-align: center;
	color: rgb(214, 214, 214);
	margin-top: 20px;
}