.container{
	min-width: 600px;
	background-color: #eee;
	padding: 10px;
}
.left{
	width: 200px;
	border: 1px solid black;
	float: left;
	background: #fff;
	padding: 10px;
}
.left-pic{
	width: 80px;
	height: 80px;
	float: left;
	margin: 10px;
}
.center{
	background: #fff;
	border: 1px solid black;
	padding: 10px;
	margin-left: 240px;
	margin-right: 160px;
}
.right{
	background: #fff;
	border: 1px solid black;
	float: right;
	width: 120px;
	text-align: center;
	padding: 10px;
}
.right-pic{
	width: 80px;
	height: 80px;
	margin: 10px;
}
.clear{
	clear: both;
}