*{ 
margin: 0; padding: 0;
}
.main{
	background: rgb(222,222,222);
}
.nav-bar{
	height: 60px;
	width: auto;
	background:rgb(51, 51, 51);
}
.logo{
	margin-left: 25px;
}
.navigation{
	float: right;
}
.nav-value{
	margin-right: 25px;
	display: inline-block;
	line-height: 60px;
	color: red;
}
.article{
	margin: 20px 30px 10px 30px;
	background: white;
	padding: 30px 20px 30px 20px;
	border-right: 2px solid gray;
	border-bottom: 2px solid gray;
}
.title{
	font-size: 24px;
}
.subtitle{
	font-size: 21px;
	color: rgb(100 100 100);
	margin-top: 15px;
}
.author-time{
	font-size: 16px;
	color: gray;
	margin-top: 15px;
}
.content{
	font-size: 18px;
	margin-top: 15px;
	text-indent: 2em;
}
.illustration{
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.item{
	list-style-type: none;
	font-size: 18px;
	margin-left: 25px;
}
.fansy-pic{
	border: 1px solid black;
	width: 180px;
	padding: 20px;
	margin: 20px;
	text-align: center;
	list-style-type: none;
	color: deeppink;
}
.ordered-item{
	font-size: 18px;
	margin-left: 40px;
	padding-top: 20px;
}